In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# import library for machine learning
## alternative library is statsmodel, but it's not as useful for machine learning
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression

sns.set(style='ticks')

/Users/karenhao/Documents/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/karenhao/Documents/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
cali_housing = fetch_california_housing()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to /Users/karenhao/scikit_learn_data

In [3]:
df = pd.DataFrame(cali_housing.data, columns=cali_housing.feature_names)

In [4]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
MedInc        20640 non-null float64
HouseAge      20640 non-null float64
AveRooms      20640 non-null float64
AveBedrms     20640 non-null float64
Population    20640 non-null float64
AveOccup      20640 non-null float64
Latitude      20640 non-null float64
Longitude     20640 non-null float64
dtypes: float64(8)
memory usage: 1.3 MB

**Notes**

Scikitlearn only takes in data with two columns. If you are using a single row, you have to reshape it and turn it into a column

In [13]:
X = df.MedInc.values.reshape(-1,1)
y = cali_housing.target

In [15]:
# create an instance of this function call
lr = LinearRegression()

In [17]:
# fit regression
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
# calculate R value
lr.score(X,y)

0.473447491807199